<% include ../partials/head %>
		<!-- ====== Header ======  -->
		<section id="home" class="min-header" data-scroll-index="0">

                <div class="v-middle mt-30">
                    <div class="container">
                        <div class="row">
    
                            <div class="text-center col-md-12">
                                <h5><%= post.titulo %></h5>
                                <a href="/">Home</a>
                                <a href="/blog">Blog</a>
                                <a href="/blog/post/<%= post._id  %>">Detalle</a>
                            </div>
    
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </section>
            <!-- ====== End Header ======  -->
    
            <!--====== Blog ======-->
            <section class="blogs section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-8">
                            <div class="posts">
    
                                <div class="post mb-80">
                                    <div class="post-img">
                                        <a href="#0" class="full-width">
                                            <img src="<%= post.img1  %>" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="post-meta">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="#0"><%= post.titulo  %></a>
                                                </h5>
                                            </div>
                                            <ul class="meta">
                                                
                                                
                                                <li>
                                                    <a href="#0">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                       
                                                        <% months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']; %>
                                                        <% days = ['Lunes','Miecoles','Jueves','Viernes','Sabado','Domingo']; %>
                                                        <span id="day"><%= days[date.getDay()] %></span>
                                                        <span id="daynum"><%= date.getDay() %></span>
                                                        <span id="month"><%= months[date.getMonth()] %></span>
                                                        <span id="year"><%= date.getFullYear() %></span>
                                                    </a>
                                                </li>
                                        
                                            </ul>
                                        </div>
    
                                        <div class="post-cont">
                                            <p><%= post.desc  %></p>
                                            <p class="spical">Lorem Ipsum is simply dummy text of the and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            <p>Lorem Ipsum is simply dummy text of the and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown pis simply dummy text of the and type setting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
    
                                        <div class="share-post">
                                            <span>Compartir publicaci&oacuten</span>
                                            <ul>
                                                <li><i class="icofont icofont-social-facebook"></i></li>
                                                <li><i class="icofont icofont-social-twitter"></i></li>
                                                <li><i class="icofont icofont-social-youtube"></i></li>
                                            </ul>
                                        </div>
    
                                    </div>
                                </div>
    
                                 
                                <div class="comment-form">
                                    <div class="title-g mb-50">
                                        <h3>Contacto</h3>
                                    </div>
    
                                    <form class="form" id="contact-form" method="post" action="">
    
                                        <div class="controls">
    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                                    </div>
                                                </div>
    
                                                 <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <button type="submit"><span>Send Message</span></button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="side-bar">
                                <div class="widget search">
                                    <form>
                                        <input type="search" name="" placeholder="Type here ...">
                                        <button type="submite"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
    
                                <div class="widget">
                                    <div class="widget-title">
                                        <h6>Últimas Novedades</h6>
                                    </div>
                                    <ul>
                                            <% for(var i = 0; i < recents_posts.length; i++) { %>
                                                <li><a href="/blog/<%= recents_posts[i]._id %>"><%= recents_posts[i].titulo.substring(0, 400) %></a></li>
                                            <% } %>
                                    </ul>
                                </div>
    
                               
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
            <!--====== End Blog ======-->

<% include ../partials/footer %>