<% include ../partials/head %>
<!-- ====== Header ======  -->
		<section id="home" class="min-header" data-scroll-index="0">

			<div class="v-middle mt-30">
				<div class="container">
					<div class="row">

						<div class="text-center col-md-12">
							<h5>Novedades</h5>
							<a href="/">Home</a>
							<a href="/Blog">Blog</a>
						</div>

					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!-- ====== End Header ======  -->

		<!--====== Blog ======-->
		<section class="blogs section-padding">
			<div class="container">
				<div class="row">
					
					<div class="col-md-8">
						<div class="posts">
						
							
							<% for(var i = 0; i < posts.length; i++) { %>
							<div class="post">
								<div class="post-img">
									<a href="/blog/post/<%= posts[i]._id %>" class="full-width">
										<img src="<%= posts[i].img1 %>" alt="">
									</a>
								</div>
								<div class="content text-center">
									<div class="post-meta">
										<div class="post-title">
											<h5>
												<a href="/blog/post/<%= posts[i]._id %>"><%= posts[i].titulo %></a>
											</h5>
										</div>
										<ul class="meta">
											<li>
												<a href="/blog/post/<%= posts[i]._id %>">
													<i class="fa fa-calendar" aria-hidden="true"></i>
													<% date = posts[i].date %>
													<% months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']; %>
													<% days = ['Lunes','Miecoles','Jueves','Viernes','Sabado','Domingo']; %>
													<span id="day"><%= days[date.getDay()] %></span>
													<span id="daynum"><%= date.getDay() %></span>
													<span id="month"><%= months[date.getMonth()] %></span>
													<span id="year"><%= date.getFullYear() %></span>
												</a>
											</li>
										</ul>
									</div>

									<div class="post-cont">
										<p><%= posts[i].desc.substring(0, 400) %></p>
									</div>

									<a href="/blog/post/<%= posts[i]._id %>" class="butn">Leer más...</a>

								</div>
							</div>
							<% } %>


							
									<!-- pagination -->
									<% if(pages > 0) { %> <!-- show pagination if there is pages -->
										<div class="pagination">
										<ul>
										  <!-- FIRST ITEM -->
										  <% if(current == 1) { %>
											<li>
											  <a href="#">First</a>
											</li>
										  <% } else { %>
											<li>
											  <a href="/blog/1">First</a>
											</li>
										  <% } %>
								
										  <!-- ITEMS  -->
										  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
										  <% if(i !== 1) { %>
											<li>
											  <a href="#">...</a>
											</li>
										  <% } %>
										  <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
											<% if(i == current) { %>
											  <li>
												<a href="/blog/<%= i %>">
												  <%= i %>
												</a>
											  </li>
											<% } else { %>
											  <li>
												<a href="/blog/<%= i %>">
												  <%= i %>
												</a>
											  </li>
											<% } %>
											<% if (i == Number(current) + 4 && i < pages) { %>
											   <li class="disabled">
												 <a href="#">...</a>
											   </li>
											<% } %>
										  <% } %>
								
										  <!-- LAST ITEM -->
										  <% if(current == pages) { %>
											<li class="disabled">
											  <a href="#">
												Last
											  </a>
											</li>
										  <% } else { %>
											<li>
											  <a href="/blog/<%= pages %>">
												Last
											  </a>
											</li>
										  <% } %>
										</ul>
									</div>
									<% } %>
								  

						</div>
					</div>

					<div class="col-md-4">
						<div class="side-bar">
							<div class="widget search">
								<form>
									<input type="search" name="" placeholder="Type here ...">
									<button type="submite"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>

							<div class="widget">
								<div class="widget-title">
									<h6>Últimas Novedades</h6>
								</div>
								<ul>
										<% for(var i = 0; i < recents_posts.length; i++) { %>
											<li><a href="/blog/<%= recents_posts[i]._id %>"><%= recents_posts[i].titulo.substring(0, 400) %></a></li>
										<% } %>
								</ul>
							</div>

						

							<div class="widget">
								<div class="widget-title">
									<h6>Archives</h6>
								</div>
								<ul>
									<li><a href="#0">January 2018</a></li>
									<li><a href="#0">February 2018</a></li>
									<li><a href="#0">March 2018</a></li>
								</ul>
							</div>


						</div>
					</div>

				</div>
			</div>
		</section>
		<!--====== End Blog ======-->
		<% include ../partials/footer %>	